h1{ text-align: center; }
h2{ text-align: center; }
h3{ text-align: center; }
h4{ text-align: center; }
h5{ text-align: center; }
h6{ text-align: center; }

.set_field{
    width:62px;
}

.centeredCell{
    text-align: center;
    vertical-align: middle;
}

.alignleft{
    float: left;
}

.alignright{
    float: right;
}

/*    For graphs  */
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 0px; }  //markers are invisible, only range for tolerances
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #00fa9a; }
.bullet .range.s1 { fill: #fff; }
.bullet .range.s2 { fill: #fff; }
.bullet .measure.s0 { fill: lightsteelblue;}
.bullet .measure.s1 { fill: #204787; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

.graph {width: 90%;}